<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Loading...</title>

		<script
			src="https://kit.fontawesome.com/3010efffe8.js"
			crossorigin="anonymous"
		></script>
		<script
			src="https://code.jquery.com/jquery-3.7.1.min.js"
			integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
			crossorigin="anonymous"
		></script>
		<script
			charset="utf-8"
			src="https://static.line-scdn.net/liff/edge/2/sdk.js"
		></script>

		<link rel="stylesheet" href="/css/liff/loading.css" />
	</head>
	<body>
		<form action="/liff/handler" method="post" id="form" hidden>
			<input type="text" id="userID" name="userID">
			<input type="text" id="displayName" name="displayName">
		</form>
		<div class="container">
			<div class="📦"></div>
			<div class="📦"></div>
			<div class="📦"></div>
			<div class="📦"></div>
			<div class="📦"></div>
		</div>
		<script src="/js/liff/init.js"></script>
	</body>
</html>