nav li {
	list-style: none;
}

nav a {
	text-decoration: none;
	color: #936639;
	font-size: 1rem;
	font-weight: bold;
	text-shadow: 2px 1px #e9ecef;
}
nav a:hover {
	color: #eaac8b;
}

header {
	position: relative;
	padding: 0 1rem;
}

nav .toggle-btn {
	color: white;
	font-size: 1.5rem;
	cursor: pointer;
	display: none;
}

nav.normal {
	width: 100%;
	height: 60px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

nav.normal .logo a {
	font-size: 1.5rem;
	font-weight: bold;
}

nav.normal .links {
	display: flex;
	gap: 2rem;
	align-items: center;
}

/* DropDown Menu */
nav.dropdown {
	display: none;
	position: absolute;
	left: 2rem;
	top: 70px;
	height: 0;
	width: 250px;
	/* background: rgba(255, 255, 255, 0.1); */
	background: #e9ecef;
	backdrop-filter: blur(15px);
	border-radius: 10px;
	overflow: hidden;
	/* transition: height 0.3s ease-in-out; */
	transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

nav.dropdown.open {
	height: 300px;
}

nav.dropdown li {
	padding: 0.7rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.profile-nav {
	display: flex;
	align-items: center;
	justify-content: center;
}

.profile-nav img {
	height: 30px;
	width: 30px;
}

/* Responsive */
@media (max-width: 980px) {
	nav.normal {
		margin-left: 15px;
		justify-content: flex-start;
	}

	nav.normal .links {
		display: none;
	}

	nav.normal .toggle-btn {
		display: block;
	}

	nav.dropdown {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}

	nav li a {
		font-size: 25px;
		color: #495057;
		text-shadow: 2px 1px #e9ecef;
	}

	nav .toggle-btn {
		font-size: 50px;
		margin-top: 30px;
	}
}

@media (max-width: 576px) {
	nav.dropdown {
		left: 2rem;
		width: unset;
	}
}
