h2 {
	padding-top: 0;
	margin: 0 30px;
}

/* Table Styles */
.fl-table a {
	text-decoration: none;
	color: black;
	cursor: pointer;
}
.fl-table a:hover {
	text-decoration: underline;
	color: #495057;
}

.func-container {
	margin-block: 40px 40px;
}

/* Responsive */
@media (max-width:980px) {
	.func-btn {
		top: 10%;
		left: 70%;
	}

	.table-wrapper:before {
		display: block;
		text-align: right;
		font-size: 11px;
		color: white;
		padding: 0 0 10px;
	}

	.func-container {
		margin-top: 35px;
	}

	.fl-table thead th,
	.fl-table tr td {
		font-size: 30px;
	}
}